@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #83b7c9;
    height: 100%;
}
.center{
    max-width: 1280px;
    margin: 0px auto;
}
header{
    background-color: #2094B9;
    height: 80px;
}
header .center img{
    display: block;
    margin: 0 auto;
}
header .img-header{
    width: 100px;
    height: 50px;
    position: absolute;
    top:-16px;
    right: 0px;
}
.none{
    display: none;
}
.ad{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0,0,0,.4);
    display: none ;
}
h1{
    text-align: center;
    padding-left: 17px;
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 95%;
    max-width: 500px;
    background-color: #2094b9;
  
}
.ad h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}
.modal input{
    font-size: 17px;
}
span{
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 12px;   
    font-size: 22px;
    font-family: 'Unbounded', cursive;
    color: red;
}
input{
    display: block;
    width: 85%;
    margin: 4px auto;
    height: 45px;
    font-family: 'Quicksand', sans-serif;
    font: 400;
}
section{
    display: flex;
    justify-content: center;
}
img{
    margin-top: 30px;
    align-items: center;
}
.img , .img-2{
    margin-right: 20px;
}
@media screen and (max-width: 700px){
   section{ flex-direction: column;}
   img{
       display: block;
       margin:  15px auto;
      
   }
}
.img-4 , .img-5{
    margin-right: 20px; 
}
nav {
    margin-top: 15px;
    font-size: 23px;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1%;
}
nav a{
    text-align: center;
    height: 30px;
    width: 160px;
    margin-top: 4px;
    border-radius: 17px;
    background-color:#2094b9;
    z-index: 5;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font: 500;
    color:  black;
    box-shadow: 3px 3px 2px black;

}